{
  "openapi": "3.1.0",
  "info": {
    "title": "a2b Logistics Public Agent Readiness API",
    "version": "1.0.0",
    "description": "Read-only public data and MCP-style inquiry-preparation API for a2b Logistics. No endpoint submits forms, sends email, or creates commercial commitments."
  },
  "servers": [
    {
      "url": "https://www.a2b.sa"
    }
  ],
  "paths": {
    "/data/company.json": {
      "get": {
        "summary": "Get public company profile",
        "responses": {
          "200": {
            "description": "Company profile"
          }
        }
      }
    },
    "/data/services.json": {
      "get": {
        "summary": "List public service data",
        "responses": {
          "200": {
            "description": "Services data"
          }
        }
      }
    },
    "/data/capabilities.json": {
      "get": {
        "summary": "List public capabilities",
        "responses": {
          "200": {
            "description": "Capabilities data"
          }
        }
      }
    },
    "/data/service-areas.json": {
      "get": {
        "summary": "List public service areas",
        "responses": {
          "200": {
            "description": "Service areas data"
          }
        }
      }
    },
    "/data/project-inquiry-schema.json": {
      "get": {
        "summary": "Get project inquiry preparation schema",
        "description": "Schema for preparing an inquiry draft. It does not submit or contact a2b.",
        "responses": {
          "200": {
            "description": "Project inquiry schema"
          }
        }
      }
    },
    "/data/agent-routing.json": {
      "get": {
        "summary": "Get agent routing rules",
        "responses": {
          "200": {
            "description": "Routing rules"
          }
        }
      }
    },
    "/data/procurement-profile.json": {
      "get": {
        "summary": "Get public procurement profile",
        "responses": {
          "200": {
            "description": "Procurement fit, buyer inputs, and commercial boundaries"
          }
        }
      }
    },
    "/data/vendor-onboarding-requirements.json": {
      "get": {
        "summary": "Get vendor onboarding preparation guide",
        "responses": {
          "200": {
            "description": "Vendor routing and preparation requirements"
          }
        }
      }
    },
    "/data/compliance-profile.json": {
      "get": {
        "summary": "Get public compliance profile",
        "responses": {
          "200": {
            "description": "Verified identifiers and non-invented compliance boundaries"
          }
        }
      }
    },
    "/data/rfq-preparation.json": {
      "get": {
        "summary": "Get RFQ preparation guide",
        "responses": {
          "200": {
            "description": "Read-only RFQ preparation fields and approval policy"
          }
        }
      }
    },
    "/data/ai-visibility-queries.json": {
      "get": {
        "summary": "Get AI visibility benchmark queries",
        "responses": {
          "200": {
            "description": "Monthly AI/search visibility benchmark query set"
          }
        }
      }
    },
    "/data/analytics-events.json": {
      "get": {
        "summary": "Get privacy-safe analytics event catalog",
        "responses": {
          "200": {
            "description": "Agent, crawler, and inquiry-preparation analytics events"
          }
        }
      }
    },
    "/data/high-intent-content-plan.json": {
      "get": {
        "summary": "Get cancelled high-intent content plan",
        "description": "Cancellation record only. The rejected page slugs are not approved, not published, not pending, and must not be cited as live or future service pages.",
        "responses": {
          "200": {
            "description": "High-intent content plan"
          }
        }
      }
    },
    "/data/markdown-companions.json": {
      "get": {
        "summary": "Get Markdown companion coverage manifest",
        "description": "Lists canonical sitemap pages that support Accept: text/markdown negotiation and direct noindex Markdown sidecars.",
        "responses": {
          "200": {
            "description": "Markdown companion route manifest"
          }
        }
      }
    },
    "/api/mcp": {
      "post": {
        "summary": "Call public read-only MCP-style tools",
        "description": "Supports initialize, tools/list, tools/call, resources/list, and resources/read JSON-RPC-style requests. Tools are read-only and require explicit user approval before any external contact outside this API. Current tools include get_company_overview, list_services, match_project_scope, prepare_project_inquiry, prepare_rfq_brief, list_service_areas, get_procurement_profile, and read_public_resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result"
          }
        }
      }
    }
  },
  "x-a2b-approval-requirements": [
    "No public endpoint sends email, submits forms, calls phone numbers, or creates commitments.",
    "Agents must ask for explicit user approval before contacting a2b.",
    "Careers, vendors, internships, training, spam, retail shopping, consumer courier, and unrelated requests must not be routed to project inquiry.",
    "High-intent page plan resources are drafts only and must not be treated as published service pages until owner approval."
  ]
}
